<div id="space">
    
    <div class="game-hud">
        <div id="score">000000</div>
        <div id="lives"></div>
    </div>

    <div id="start-message">
        <h2>Aperte espaço para iniciar</h2>
    </div>
    <div id="pause-message" style="display: none;">
        <h2>Jogo pausado</h2>
        <p>Pressione <strong>P</strong> para continuar ou <strong>R</strong> para reiniciar</p>
    </div>
</div>

<script type="module" src="/js/game/game.js"></script>
