<!DOCTYPE html>
<html>
<head>
    <title>Express + HBS!</title>
</head>
<body>
    <div class="container">
        <p>Alguns professores do IComp/UFAM</p>
        <ul>
            {{#each profes}}
                <li>{{nome}} - sala {{sala}}</li>
            {{/each}}
        </ul>
    </div>
</body>
</html>
