<!DOCTYPE html>
<html>
<head>
    <title>Express + HBS!</title>
</head>
<body>
    <div class='container'>
       Technologias baseadas no NodeJS:
        {{{listtechnologies technologies}}}    
    </div>
</body>
</html>
