<div class="container text-center my-5">
    <h1 class="display-4">Bem-vindo ao Lobby!</h1>
    <p class="lead">Você está pronto para a próxima batalha?</p>
    <div class="d-grid gap-2 col-6 mx-auto mt-5">
        <a href="/" class="btn btn-primary btn-lg">Jogar Agora</a>
        <a href="/ranking" class="btn btn-secondary">Ver Ranking</a>
    </div>
</div>