body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

input {
    margin: 3px;
    width: 60px;
}

#grafico {
    display: flex;
    align-items: flex-end;
    height: 200px;
    margin-top: 20px;
    padding: 10px;
}

.barra {
    background-color: red;
    margin-right: 5px;
}
