body {
    background-image: url(nebulosa_do_anel_sul_james_webb_nasa.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
.caixa {
    background-color: black;
    border: 5px solid orange;
    border-radius: 20px;
    padding: 20px;
    width: 202px;
    height: 320px;
    color: white;
    font-family: Arial;
    margin: 50px;
}
h1 {
    width: 202px;
    font-size: 24px;
    margin-top: 0;
    
}

p {
    width: 150px;
    text-align: center;
    font-size: 16px;
}